* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: green 1px solid;
    list-style-type: none;
}

/***** Fonts *****/
@supports (font-size-adjust: 1) {
    html {
        font-size-adjust: 0.5;
    }
}


html {
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    font-weight: normal;
    line-height: calc(1ex / 0.32);
}

/***** Layout *****/

.container {
    display: grid;
    grid-template: auto 1fr / 1fr 4fr;
}

/***** Header Styles *****/
header {
    grid-column: 2 / span 1;

    display: grid;
    grid-template: auto auto / 2fr 1fr;
}

/***** Sidebar Styles *****/

aside {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;

    padding: 1.25rem;

    font-size: 1.25rem;
    color: white;
    font-weight: bold;

    background-color: #1992d4;
}

aside i {
    width: 2rem;
    margin-right: 1rem;
}

aside a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

aside ul {
    margin-top: 3rem;
}

aside ul li {
    margin-block: 1em;
}

/***** Main Content Styles *****/
main {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;

    display: grid;
    grid-template: auto auto / 2fr 1fr;
}

#projects {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
}