@use "breakpoints" as *;

@import url(https://fonts.bunny.net/css?family=playfair-display:400|roboto:100,100i,400,400i,700,700i);

$fs-sm: clamp(0.9rem, 0.24vi + 0.84rem, 1.03rem);
$fs-base: clamp(1.13rem, 0.45vi + 1.01rem, 1.38rem);
$fs-md: clamp(1.41rem, 0.78vi + 1.21rem, 1.83rem);
$fs-lg: clamp(1.76rem, 1.25vi + 1.45rem, 2.44rem);
$fs-xl: clamp(2.2rem, 1.93vi + 1.72rem, 3.26rem);
$fs-xxl: clamp(2.75rem, 2.9vi + 2.02rem, 4.34rem);
$fs-xxxl: clamp(3.43rem, 4.28vi + 2.36rem, 5.79rem);

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  line-height: 1.25;
}

h1 {
  font-size: $fs-xl;
}

h2 {
  font-size: $fs-xl;
}

h3 {
  font-size: $fs-md;
}

p, a, button {
  font-family: 'Roboto', sans-serif;
  font-size: $fs-base;
  line-height: calc(1ex / 0.32);
  margin: calc(1ex / 0.32) 0;
}

@supports (font-size-adjust: 1) {
  section, article, div {
    font-size-adjust: 0.5;
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  h2, h3 {
    text-align: center;
  }
}