@use '../base/breakpoints' as *;

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

section {
  margin: 0 auto;
  padding: 2em;
  max-width: 90em;
}

@media screen and (min-width: $breakpoint-tablet) {
  section {
    padding: 5em;
  }
}