* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.toggle-read {
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.toggle-read:hover {
    transform: scale(1.2);
    background-color: #f8f9fa;
    border-radius: .3em;
}