.input-section {
  padding: 1rem;
  border: 1px solid light-dark(#393939, #ababab);
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.1);

  > button {
    display: flex;
    margin-left: auto;
  }

  form {
    display: grid;
    grid-template-columns: repeat(2, minmax(12rem, 1fr));
    grid-auto-rows: min-content;
    gap: 1rem;
    width: 100%;

    .input-field {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;

      label {
        font-size: 0.8rem;
      }

      &:last-of-type:nth-child(odd),
      &:nth-last-child(2):nth-child(odd):has(+ button),
      &:nth-last-child(2):nth-child(odd):has(+ *:not(.input-field)) {
        grid-column: 1 / -1;
      }

    }

    .edit-buttons, button {
      grid-column: 1 / -1;
      justify-self: end;
    }

    textarea {
      width: 100%;
      max-width: 100%;
    }
  }

  li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0.5rem;
    border: 1px solid light-dark(#393939, #ababab);
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: light-dark(#ddd, #393939);

    h3, p {
      margin-bottom: 0;
    }

    .edit-buttons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-left: auto;

      button:first-child {
        margin-right: 0.5rem;
      }
    }
  }
}

@media only screen and (max-width: 57em) {
  .input-section {
    form {
      grid-template-columns: 1fr;
    }
  }
}