@import url(https://fonts.bunny.net/css?family=lexend-deca:100,300,600);

/** General Styling **/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Lexend Deca', Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
}

:root {
    --fs-sm: clamp(0.8rem, 0.08vi + 0.78rem, 0.84rem);
    --fs-base: clamp(1rem, 0.23vi + 0.94rem, 1.13rem);
    --fs-md: clamp(1.25rem, 0.45vi + 1.14rem, 1.5rem);
    --fs-lg: clamp(1.56rem, 0.79vi + 1.36rem, 2rem);
    --fs-xl: clamp(1.95rem, 1.29vi + 1.63rem, 2.66rem);
    --fs-xxl: clamp(2.44rem, 2.02vi + 1.94rem, 3.55rem);
    --fs-xxxl: clamp(3.05rem, 3.06vi + 2.29rem, 4.73rem);
}

h1 {
    font-size: var(--fs-xxl);
    margin-bottom: .25em;
}

h2 {
    font-size: var(--fs-xl);
    margin-bottom: .5em;
}

h1, h2 {
    line-height: calc(1ex / 0.42);
}

h3 {
    font-size: var(--fs-lg);
    line-height: calc(1ex / 0.38);
}

button {
    cursor: pointer;
}

p, a, button {
    line-height: calc(1ex / 0.36);
    margin-bottom: .25em;
}


body {
    display: grid;
    grid-template-columns: .75fr 3fr;

    height: 100vh;

    overflow: hidden;
}


/** Project Navigation **/
header {
    grid-column: 1 / span 1;

    padding: 2rem;

    background-color: whitesmoke;
}

header nav {
    margin-bottom: 1.5rem;
    padding-left: 1rem;
    padding-bottom: 1rem;

    border-bottom: 1px solid lightgray;

    max-height: 75vh;
    overflow: auto;
}

header nav li {
    list-style-type: "→ ";
    list-style-position: inside;

    margin-block: .5rem;
    padding-inline: .5em;

    border-radius: .25em;

    transition: all .25s ease-in-out;
}

header nav li::marker {
    width: 15%;
}

header nav li button {
    border: 0;
    background-color: transparent;

    text-align: left;

    margin-bottom: 0;

    width: 85%;
}

header nav li:has(> button:hover) {
    background-color: lightgray;
}

header nav li:has(> button[aria-selected="true"]) {
    background-color: lightgray;
}

/* New project form */
.new-project-form {
    display: flex;
    align-items: center;

    margin-block: 1rem;
}

.new-project-form > * {
    margin-inline: .2rem;
}

.new-project-form button {
    margin-bottom: 0;
    line-height: initial;

    border: none;
    background-color: transparent;

    transition: all .25s ease-in-out;
}

.new-project-form button:hover {
    transform: scale(1.3);
}

/* Creation Buttons */
#create-project-button {
    position: sticky;
    top:0;

    padding: .25em;

    width: 100%;

    border-radius: 1em;
}

#create-project-button:disabled,
#create-task-button:disabled {
    background-color: lightgray;
}

#create-project-button:disabled:hover,
#create-task-button:disabled:hover {
    background-color: lightgray;
}

#create-project-button:disabled:active,
#create-task-button:disabled:active {
    background-color: lightgray;
    transform: scale(1);
    border: none;
}

#create-task-button {
    position: fixed;
    bottom: 3rem;
    right: 3rem;

    aspect-ratio: 1/1;

    padding: .25em .25em .3em;
    height: 4rem;

    border-radius: 2rem;

    font-size: var(--fs-xl);
    line-height: 0;
    text-align: center;
}


#create-project-button, #create-task-button {
    border: none;
    background-color: deepskyblue;
    transition: all .2s ease-in-out;
}

#create-project-button:hover, #create-task-button:hover {
    background-color: lightskyblue;
}

#create-project-button:active, #create-task-button:active {
    background-color: deepskyblue;
    transform: scale(0.9, 0.9);
}

main {
    position: relative;
}


main #project-view {
    grid-column: 2 / span 1;

    padding: 5rem;

    height: 100vh;
    max-height: 100%;

    overflow: auto;
}

/* Todo Items */
.todo-item {
    position: relative;

    padding: 1.5rem 2rem 0 5rem;
    margin: 2rem 2rem 2rem 0;

    max-width: 90%;

    box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;

    transition: all .25s ease-in-out;
}

.todo-item h3 {
    max-width: 20ch;

    overflow-wrap: break-word;
}

.todo-item p {
    max-width: 50ch;

    overflow-wrap: break-word;
}

.todo-item .preview-group {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.todo-item:has(input[type="checkbox"]:checked) {
    background-color: lightgray;
    color: gray;
    border-color: darkgray;

    text-decoration-line: line-through;
}

.todo-item .label-group {
    display: flex;
    align-items: center;
}

.todo-item input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0 .5rem 0 0;

    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;

    position: relative;

    transition: all .25s ease-in-out;
}

.todo-item input[type="checkbox"]:hover {
    cursor: pointer;
    background-color: deepskyblue;
}

.todo-item input[type="checkbox"]:checked:hover {
    background-color: crimson;
}

.todo-item input[type="checkbox"]:checked {
    background-color: lightgray;
}

.todo-item input[type="checkbox"]:checked::before {
    content: "✔";

    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.todo-item[data-priority="high"] {
    border: 1px solid crimson;
    background-color: #ffeef1;
}

.todo-item[data-priority="high"]::after {
    position: absolute;
    top: 1.5rem;
    left: .5em;

    transform: translateY(-10%);

    content: "!";
    font-weight: bold;
    font-size: var(--fs-xl);

    color: crimson;
}

.todo-item[data-priority="high"]:has(input[type="checkbox"]:checked)::after {
    content: "";
}

.todo-item[data-collapsed="true"] .collapsed-item {
    display: none;
}

/* Style expanding button */
.todo-item button[data-action="expand-todo"]{
    position: relative;
    bottom: 0;
    left: 50%;

    transform: translateX(-50%);

    padding-inline: 1em;

    border: none;

    background-color: transparent;

    font-size: var(--fs-md);

    transition: all .25s ease-in-out;
}

.todo-item button[data-action="expand-todo"]:hover{
    font-weight: bold;
    transform: translateX(-50%) scale(1.2);
}

/* Style content to look editable */
.todo-item [contenteditable="true"] {
    border: 1px solid blue;
}