@import url(https://fonts.bunny.net/css?family=league-spartan:400,700,900|londrina-solid:100,300,900);

/***** General Styles *****/

:root {
    --fs-sm: clamp(0.8rem, 0.17vi + 0.76rem, 0.89rem);
    --fs-base: clamp(1rem, 0.34vi + 0.91rem, 1.19rem);
    --fs-md: clamp(1.25rem, 0.61vi + 1.1rem, 1.58rem);
    --fs-lg: clamp(1.56rem, 1vi + 1.31rem, 2.11rem);
    --fs-xl: clamp(1.95rem, 1.56vi + 1.56rem, 2.81rem);
    --fs-xxl: clamp(2.44rem, 2.38vi + 1.85rem, 3.75rem);
    --fs-xxxl: clamp(3.05rem, 3.54vi + 2.17rem, 5rem);
    --fs-xxxxl: clamp(3.81rem, 5.18vi + 2.52rem, 6.66rem);
    --fs-xxxxxl: clamp(4.77rem, 7.48vi + 2.9rem, 8.88rem);

    --light-base-colour: 244, 244, 242;
    --dark-base-colour: 6, 22, 2;
    --dark-accent-colour: 52, 117, 23;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: rgba(var(--light-base-colour));
}

h1, h2, h3 {
    font-family: 'Londrina Solid', display, Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    font-weight: 900;
    font-size: var(--fs-xxl);

    letter-spacing: .03em;

    color: rgb(var(--dark-base-colour));
}

p, a, button, li {
    font-size: var(--fs-base);

    font-family: 'League Spartan', Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    font-weight: 400;
}

p, a, li {
    line-height: calc(1ex / 0.32);
}

p, li {
    margin: calc(1ex / 0.64) 0;

    color: rgb(var(--dark-base-colour));
}

strong {
    font-weight: 700;
}

button {
    cursor: pointer;
    padding: .75rem;
    margin-right: 1rem;

    border-radius: 1.5rem;
    border: .1rem solid rgb(var(--dark-base-colour));

    background-color: rgb(var(--dark-base-colour));
    color: rgb(var(--light-base-colour));

    transition: all 0.25s ease-in-out;
}

button[data-state="alternate"] {
    background-color: rgb(var(--light-base-colour));
    color: rgb(var(--dark-base-colour));
}

button:hover, button[data-state="alternate"]:hover {
    background-color: rgb(var(--dark-accent-colour));
    border-color: rgb(var(--dark-accent-colour));
    color: rgb(var(--light-base-colour));

    transform: scale(1.1);
}

button:active, button[data-state="alternate"]:active {
    transform: scale(0.9);
}

[class^="fa-"] {
    margin-right: .75em;
}

/***** Utils *****/
.row {
    display: flex;
    flex-direction: row;
}

.fade-in {
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 1;
    transform: translateY(0);
}

.fade-out {
    opacity: 0;
    transform: translateY(.8rem);
}

/***** Header *****/
header {
    position: absolute;
    z-index: 2;

    display: flex;
    justify-content: center;

    padding: 1rem;

    height: 5rem;
    width: 100%;

    background-color: rgba(var(--light-base-colour), 0.8);
    backdrop-filter: blur(.4rem);
}

header button {
    background-color: transparent;
    border: none;
    border-radius: 0;

    color: rgb(var(--dark-base-colour));
}

header button:hover {
    background-color: transparent;
    color: rgb(var(--dark-accent-colour));
}

header button[aria-selected="true"] {
    color: rgb(var(--dark-accent-colour));
}

/***** Home Tab *****/
#hero {
    display: grid;

    grid-template-columns: 1fr auto;
    grid-auto-rows: min-content;

    justify-content: center;
    align-content: center;

    padding-inline: 8rem;

    position: relative;

    height: 100vh;
    width: 100%;
}

#hero > *:not(img) {
    grid-column: 1 / span 1;
}

#hero img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
}

#hero h1 {
    font-size: var(--fs-xxxxxl);
    line-height: 0.6;
}

#hero h1 span {
    font-family: 'Londrina Solid', display, Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    font-weight: 100;
    font-size: var(--fs-xxl);

    letter-spacing: .1em;
}

#hero p {
    margin: calc(1ex / 0.32) 0;
    font-size: var(--fs-md);
}

/***** About Tab *****/
#about {
    display: flex;
    align-items: center;

    padding-top: 5rem;

    min-height: 100vh;
}

#about > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;

    margin: 0 auto;
    padding: 3rem;

    width: 90%;
    max-width: 60rem;

    border-color: rgb(var(--dark-base-colour));
    border-width: .25rem;
    border-style: solid;
}

#about > div img {
    grid-column: 1 / span 1;

    object-fit: cover;

    height: 100%;
    width: 100%;
}

#about > div article {
    grid-column: 2 / span 1;

    display: flex;
    flex-direction: column;

    padding: 2rem;
}

/***** Menu Tab *****/
#menu {
    display: grid;
    grid-template-columns: 1fr 2fr 5fr 1fr;
    grid-gap: 2rem;

    justify-content: center;

    padding-top: 5rem;
    padding-bottom: 3rem;
}

#menu h1 {
    grid-column: 2 / span 1;

    font-size: var(--fs-xxxl);
}

#menu > div:first-of-type {
    grid-column: 2 / span 1;

    align-self: start;

    height: 50vh;
    max-height: 50rem;
    min-width: 30vw;

    padding: 1rem;

    border: .2em solid rgb(var(--dark-base-colour));
}

#menu > div:first-of-type img {
    height: 100%;

    width: 100%;

    object-fit: cover;
}

#menu > article {
    grid-column: 3 / span 1;

    padding: 3rem;

    text-align: center;

    border: .2em solid rgb(var(--dark-base-colour));
}

#menu > article h2 {
    margin-block: 1em;

    font-size: var(--fs-lg);
}

#menu > article li {
    list-style-type: none;
}

/***** Footer *****/
footer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    padding: 2rem;

    border-top: .1em solid rgb(var(--dark-base-colour));

    text-align: center;
}

@media only screen and (max-width: 50em) {
    /***** Utils *****/
    .row {
        justify-content: center;
    }

    /***** Home Tab *****/

    #hero {
        grid-template-columns: 1fr;
        text-align: center;
    }

    #hero h1 {
        line-height: .7;
    }

    #hero h1 span {
        font-size: var(--fs-xxl);
        letter-spacing: .02em;
    }

    #hero p {
        font-size: var(--fs-base);
    }

    /***** About Tab *****/
    #about {
        align-items: start;

        min-height: initial;
    }

    #about > div {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;

        padding: 0;

        width: 100%;
        max-width: initial;

        border: none;
    }

    #about > div img {
        grid-row: 1 / span 1;

        height: 40vh;
        width: 100vw;
    }

    #about > div article {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;

        text-align: center;
    }

    /**** Menu *****/
    #menu {
        grid-template-columns: 1fr;
        grid-auto-rows: auto;

        padding: 5rem 3rem 3rem;
    }

    #menu > * {
        grid-column: 1 / span 1 !important;
    }

    #menu > div:first-of-type {
        border: none;
        padding: 0;

        width: 100vw;
    }

    #menu h1, #menu > article {
        margin-inline: 2rem;
    }


    /***** Footer *****/
    footer {
        flex-direction: column;
    }
}